/* Mixins */
/* Side Nav Logic */
nav.top-nav {
  background-color: white;
  height: 64px;
  box-shadow: none; }

.side-nav {
  width: 10%; }

#links-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

img#iowa-img {
  width: 90%;
  margin-left: 5%; }

a.button-collapse.top-nav.full {
  color: black;
  line-height: 64px; }

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 36px;
  z-index: 2; }

div.collapsible-body ul li a {
  font-size: 1em; }

header, main, footer {
  padding-left: 10%; }

body {
  font-family: 'Lato', sans-serif; }

h1, h2 {
  font-family: 'Medula One', cursive;
  color: black; }

p {
  line-height: 2rem; }

.container {
  max-width: 100% !important; }

#container-iowa-girls-code {
  background-image: url("../img/iowagirlscodecampbackground.jpeg");
  background-size: cover;
  height: 100vh;
  margin: 0;
  max-width: 100%;
  width: 100%; }
  #container-iowa-girls-code .section {
    /* Gradient effect */
    animation: move 3s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, rgba(236, 121, 164, 0.7) 10%, rgba(255, 156, 101, 0.7) 90%);
    height: inherit;
    padding: 0; }
    #container-iowa-girls-code .section .row {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      max-width: 100%; }

/* About */
#about > div > div > div > h5 {
  color: black;
  margin: 5%; }

/* Timeline styles */
#timeline {
  width: 100%; }

#partner-button {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #ec79a4; }

.cd-timeline-img.code, #programs-button {
  background: #ec79a4; }

.cd-timeline-img.girl, #partners-button {
  background: #ff9c65; }

.cd-timeline-img.prize {
  background: #c15bda; }

a.cd-read-more {
  width: 100%;
  text-align: center;
  font-size: 1.5rem !important; }

/*locations panel*/
#locations {
  height: 100vh;
  width: 100%; }
  #locations #dsm > a > div > b:hover, #locations #cr > a > div > b:hover {
    background-color: white;
    color: black;
    text-shadow: none; }
  #locations ul {
    height: 100%;
    margin: 0; }
  #locations #dsm {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/iowastate.jpg"); }
    #locations #dsm a div h1 {
      font-size: 4rem; }
  #locations #cr {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cr.jpg"); }
    #locations #cr a div h1 {
      font-size: 4rem; }
  #locations #cr, #locations #dsm {
    background-repeat: no-repeat;
    background-size: cover; }
  #locations h1, #locations p, #locations b {
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
    color: white; }
  #locations .section {
    height: inherit; }
    #locations .section .row {
      height: 50vh; }
      #locations .section .row .col {
        height: inherit; }

.button-collapse {
  color: #26a69a; }

/* Partners */
#parnters-row {
  margin: 5%; }

div.card-image > img {
  padding: 5%; }

/* Footer - contact */
footer {
  background-color: #ec79a4 !important; }

footer.page-footer {
  margin: 0; }

/* Mobile styles */
@media only screen and (max-width: 600px) {
  a.button-collapse.top-nav {
    left: 5%; } }
@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; }

  nav .nav-wrapper {
    text-align: center; }

  nav .nav-wrapper a.page-title {
    color: black;
    font-size: 24px;
    line-height: 64px; } }

/*# sourceMappingURL=style.css.map */
