$theme-pink-opacite: rgba(236, 121, 164, .7);
$theme-orange-opacite: rgba(255, 156, 101, .7);

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  max-width: 100% !important;
}


#container-iowa-girls-code {
  background-image: url("../img/iowagirlscodecampbackground.jpeg");
  background-size: cover;
  height : 100vh;
  margin: 0;
  max-width: 100%;
  width: 100%;

  .section {
    /* Gradient effect */
    animation: move 3s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, $theme-pink-opacite 10%, $theme-orange-opacite 90%);

    height: inherit;
    padding: 0;

    .row {
       @include vertical-align();
    }
  }
}

/*programs panel*/
#programs-container{
  height: 100vh;
  width: 100%;
  
  .section{
    height: inherit;

    .row {
      height: 50vh;

      .col {
        height: inherit;
      }
    }
  }
}

#dsm {
  background-image: url("../img/dsm.jpeg");
}

#cr {
  background-image: url("../img/cr.jpeg");
}

#igcc{
  background-image: url("../img/iowagirlscodecampbackground.jpeg");
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

footer.page-footer {
  margin: 0;
}