/* why */

$theme-pink: rgba(236, 121, 164, 1);
$theme-orange: rgba(255, 156, 101, 1);
$theme-purple: rgb(193, 91, 218);
$theme-pink-opacite: rgba(236, 121, 164, .7);
$theme-orange-opacite: rgba(255, 156, 101, .7);

/* Mixins */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin text-shadow() {
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  color: black;
}


p {
  line-height: 2rem;
}

.container {
  max-width: 100% !important;
}

#igc-logo {
  height: 50vh;
}

#container-iowa-girls-code {
  background-image: url("../img/iowagirlscodecampbackground.jpeg");
  background-size: cover;
  height : 75vh;
  margin: 0;
  max-width: 100%;
  width: 100%;

  .section {
    /* Gradient effect */
    animation: move 3s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, $theme-pink-opacite 10%, $theme-orange-opacite 90%);

    height: inherit;
    padding: 0;

    .row {
       @include vertical-align();
       max-width: 100%;
    }
  }
}

/* About */
#about > div > div > div > h5 {
  color: black;
  margin: 5%;
}

#press {
  font-size: 1.5rem;
    height: auto;
}


/* Timeline styles */

#timeline{
  width: 100%;
}

#partner-button {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: $theme-pink;
}


.cd-timeline-img.code, #programs-button{
  background: $theme-pink;
}

.cd-timeline-img.girl, #partners-button {
  background: $theme-orange;
}

.cd-timeline-img.prize{
  background: $theme-purple;
}

a.cd-read-more {
    width: 100%;
    text-align: center;
    font-size: 1.5rem !important;
}


/*locations panel*/

#locations { 
  width: 100%;

  #dsm > a > div > b:hover , #cr > a > div > b:hover {
    background-color: white;
    color: black;
    text-shadow: none;
  }

  ul {
    margin: 0;

    li {
      height: 100vh;
    }
  }
  
  #dsm {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/iowastate.jpg");
  }

  #cr {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/cr.jpg");

  }

  #cr, #dsm {
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1, p, b {
     @include text-shadow(); 
     color: white;
  }

  .section{
    height: inherit;

    .row {
      height: 50vh;

      .col {
        height: inherit;
      }
    }
  }
}


.button-collapse {
  color: #26a69a;
}


/* Partners */

#partners {
   width: 80%;
}

.partner {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
} 

/* Footer - contact */
footer {
  background-color: $theme-pink !important;
}

footer.page-footer {
  margin: 0;
}


 /* Mobile styles */

@media only screen and (max-width: 600px) {
  #cr, #dsm {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}


/* Mobile, turned landscape */
@media (max-height:499px){
  #igc-logo {
    width: 50%;
  }
}

